/* .content code:not(.code-block code) {
  background-color: #f6f7f8;
  border: .1rem solid rgba(0,0,0,.1);
  border-radius: 0.4rem;
  
} */

/* .content code:not(.code-block code) {
  background-color: #eff1f2;
} */

.content code:not(.code-block code) {
  background-color: #f6f7f8;
  border: .1rem solid rgba(0,0,0,.1);
  border-radius: 0.2rem;
  
}

:root {
  --primary-hue: 252;
  --primary-saturation: 65%;
}